a {
  color: #ffff00;
}

a:hover, a.map-entry-title:hover {
  color: #00ffff;
}

span.register, td.register {
  color: #ff7fff;
}

span.instruction, td.instruction {
  color: #ff7fff;
}

span.instruction {
  font-family: monospace;
  white-space: pre;
}

table.input td, table.output td {
  background-color: #3f3f3f;
}

table.input th, table.output th {
  background-color: #5f5f5f;
}

td.asm-label, td.address-1, td.address-2 {
  color: #00ffff;
}

td.map-c-desc {
  color: #7fff7f;
}

td.map-b-desc, td.map-w-desc {
  color: #ff7fff;
}

td.map-g-desc {
  color: #7fffff;
}

td.map-t-desc {
  color: #aaaaaa;
}

td.map-s-desc, td.map-u-desc {
  color: #ffffff;
}
