body {
  color: #ffffff;
  background-color: #222222;
}

div.box-1, div.list-entry-1 {
  background-color: #666666;
}

div.box-2, div.list-entry-2 {
  background-color: #444444;
}

table table.default th, table.default th {
  background-color: #777777;
}

table table.default td, table.default td {
  background-color: #555555;
}

table.asm-navigation td {
  background-color: #444444;
}

td.comment-1 {
  background-color: #333333;
}

table.map th {
  background-color: #777777;
}

table.map td {
  background-color: #444444;
}

canvas.graphicLayoutData {
  background-color: #000000;
}

hr {
  color:#666666;
}
