body {
  color: #ffffff;
  background-color: #000022;
}

div.box-1, div.list-entry-1 {
  background-color: #000066;
}

div.box-2, div.list-entry-2 {
  background-color: #000044;
}

table table.default th, table.default th {
  background-color: #000077;
}

table table.default td, table.default td {
  background-color: #000055;
}

table.asm-navigation td {
  background-color: #000044;
}

td.comment-1 {
  background-color: #000033;
}

table.map th {
  background-color: #000077;
}

table.map td {
  background-color: #000044;
}

pre.text {
  display: inline-block;
  background: #000000;
  color: #ffffff;
  margin: 0;
  white-space: pre-wrap;
}

hr {
  color:#000066;
}
