.blackInk {
  color: #000000;
}

.blackPaper {
  background-color: #000000;
}

.blueInk {
  color: #0000c5;
}

.bluePaper {
  background-color: #0000c5;
}

.blueInk.bright {
  color: #0000ff;
}

.bluePaper.bright {
  background-color: #0000ff;
}

.redInk {
  color: #c50000;
}

.redPaper {
  background-color: #c50000;
}

.redInk.bright {
  color: #ff0000;
}

.redPaper.bright {
  background-color: #ff0000;
}

.magentaInk {
  color: #c500c5;
}

.magentaPaper {
  background-color: #c500c5;
}

.magentaInk.bright {
  color: #ff00ff;
}

.magentaPaper.bright {
  background-color: #ff00ff;
}

.greenInk {
  color: #00c600;
}

.greenPaper {
  background-color: #00c600;
}

.greenInk.bright {
  color: #00ff00;
}

.greenPaper.bright {
  background-color: #00ff00;
}

.cyanInk {
  color: #00c6c5;
}

.cyanPaper {
  background-color: #00c6c5;
}

.cyanInk.bright {
  color: #00ffff;
}

.cyanPaper.bright {
  background-color: #00ffff;
}

.yellowInk {
  color: #c5c600;
}

.yellowPaper {
  background-color: #c5c600;
}

.yellowInk.bright {
  color: #ffff00;
}

.yellowPaper.bright {
  background-color: #ffff00;
}

.whiteInk {
  color: #cdc6cd;
}

.whitePaper {
  background-color: #cdc6cd;
}

.whiteInk.bright {
  color: #ffffff;
}

.whitePaper.bright {
  background-color: #ffffff;
}
