body {
  color: #ffffff;
  background-color: #220000;
}

div.box-1, div.list-entry-1 {
  background-color: #660000;
}

div.box-2, div.list-entry-2 {
  background-color: #440000;
}

table table.default th, table.default th {
  background-color: #770000;
}

table table.default td, table.default td {
  background-color: #550000;
}

table.asm-navigation td {
  background-color: #440000;
}

td.comment-1 {
  background-color: #330000;
}

table.map th {
  background-color: #770000;
}

table.map td {
  background-color: #440000;
}

pre.text {
  display: inline-block;
  background: #000000;
  color: #ffffff;
  margin: 0;
  white-space: pre-wrap;
}

hr {
  color:#660000;
}
