body {
  color: #ffffff;
  background-color: #002200;
}

div.box-1, div.list-entry-1 {
  background-color: #006600;
}

div.box-2, div.list-entry-2 {
  background-color: #004400;
}

table table.default th, table.default th {
  background-color: #007700;
}

table table.default td, table.default td {
  background-color: #005500;
}

table.asm-navigation td {
  background-color: #004400;
}

td.comment-1 {
  background-color: #003300;
}

table.map th {
  background-color: #007700;
}

table.map td {
  background-color: #004400;
}

pre.text {
  display: inline-block;
  background: #000000;
  color: #ffffff;
  margin: 0;
  white-space: pre-wrap;
}

hr {
  color:#006600;
}
